body {
  background-color: black;
}

* {
  color: white;
}

form {
  padding-top: 4em;
}

a {
  color: tomato;
}

.container-fluid {
  text-align: center;
}

.btn {
  font-size: 0.6em;
}

#logo h1 {
  font-family: Jaapokki;
  font-size: 8em;
}

#search {
  font-size: 4rem;
}

#artist_query {
  border: none;
  border-bottom: 1px solid black;
  color: black;
  padding: 0.2em;
  border-radius: 30px;
}

.artist-pic {
  text-align: center;
}

#albums img {
  height: 75%;
  width: 75%;
}

#view-2-header h1 {
  text-align: center;
  padding-bottom: 1em;
}

.main-artist {
  padding-top: 1em;
}

.main-artist,
.other-artists {
  text-align: center;
}

.album {
  text-align: center;
  padding-bottom: 0.5em;
}