body {
  background-color: black;
}

* {
  color: white;
}

h1 {
  font-family: Jaapokki;
  font-size: 1.4em;
}

form {
  padding-top: 4em;
}

a {
  color: tomato;
}

#artist_query {
  border: none;
  border-bottom: 1px solid black;
  color: black;
}

.container-fluid {
  text-align: center;
  font-size: 4em;
}

.btn {
  font-size: 0.6em;
}

.main-artist {
  padding-top: 1em;
}

.main-artist,
.other-artists {
  text-align: center;
}